/* Default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

/* Global styles */
:root {
    --header-bg-color: #333;
    --header-text-color: #fff;
    --dark-color: rgb(84, 86, 87);
    --light-color: rgb(237, 239, 241);
    --base-font-size: 16px;
    --hero-h1-font-size: 4rem;
    --hero-p-font-size: 1.2rem;
    --cat-info-h2-font-size: 1.2rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo img {
    width: 6.25rem;
}

.nav {
    display: flex;
    gap: 1.25rem;
    list-style-type: none;
    justify-content: space-between;
}

#menu-toggle {
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.nav.active {
    display: block;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    margin-left: 1.25rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
}


/* Section styles */
section {
    padding: 4rem;
}


/* Button styles */
.btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3125rem;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1.25rem;
}

.btn:hover {
    background: #FF8C00;
}

/* HERO styles */
.hero {
    background: url('../images/hero.png') center/cover no-repeat fixed;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 4rem;
}

.hero h1 {
    font-family: 'Nanum Pen Script', cursive;
}

.hero p {
    margin: 1rem 0;
}

/* MEET THE CATS styles */
#cats {
    text-align: center;
}

.cat-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.cat-item {
    border: .0625rem solid #ccc;
    padding: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
}

.cat-item img {
    max-width: 100%;
}

.cat-info {
    padding: 0.625rem;
}

.cat-info h2 {
    margin: 0.5rem 0;
}

/* Volunteer styles */
#volunteer {
    background: url('../images/cat.png') center/cover no-repeat fixed;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 4rem 0; 
}

/* Donation styles */
#donations {
    background-color: rgb(235, 157, 102);
    position: relative;
    color: #000;
    text-align: center;
    padding: 4rem 0;
}

/* Contact styles */
#contact {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.map {
    margin-top: 2.1875rem;
}

.map img {
    max-width: 100%; 
    height: auto; 
}

/* Footer styles */
footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1rem;
}





/* Media Queries-------------------------------------------- */
@media (min-width: 641px) {
    body {
        font-size: calc(var(--base-font-size) + 2px);
    }

    .hero h1 {
        font-size: calc(var(--hero-h1-font-size) + 1rem);
    }

    .hero p {
        font-size: calc(var(--hero-p-font-size) + 0.2rem);
    }

    .cat-info h2 {
        font-size: calc(var(--cat-info-h2-font-size) + 0.2rem);
    }
    
}




@media (max-width: 640px) {
    body {
        font-size: calc(var(--base-font-size) - 2px);
    }

    .hero h1 {
        font-size: calc(var(--hero-h1-font-size) - 0.5rem);
    }

    .hero p {
        font-size: calc(var(--hero-p-font-size) - 0.2rem);
    }

    .cat-info h2 {
        font-size: calc(var(--cat-info-h2-font-size) - 0.2rem);
    }

    #menu-toggle {
        display: block;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--dark-color);
        padding: 1.25rem;
        border-radius: .625rem;
    }

    .nav.active ul {
        display: block;
    }

    .nav.active #menu-toggle {
        display: none;
    }

    .cat-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
}




@media (max-width: 420px) {
    body {
        font-size: calc(var(--base-font-size) - 4px);
    }

    .hero h1 {
        font-size: calc(var(--hero-h1-font-size) - 1rem);
    }

    .hero p {
        font-size: calc(var(--hero-p-font-size) - 0.4rem);
    }

    .cat-info h2 {
        font-size: calc(var(--cat-info-h2-font-size) - 0.4rem);
    }

    #menu-toggle {
        display: block;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--dark-color);
        padding: 1.25rem;
        border-radius: .625rem;
    }

    .nav.active ul {
        display: block;
    }

    .nav.active #menu-toggle {
        display: none;
    }

    .cat-gallery, .contact-info {
        display: block;
        grid-template-columns: 1fr;
    }

    .cat-item {
        margin-bottom: 1.25rem;
    }

    .contact-us-info {
        padding: 0.625rem;
    }
}