

/* Default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


:root {

}





body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav li {
    margin-right: 1.25rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 6.25rem;
}

section {
    padding: 2rem;
}

.btn {
    display: inline-block;
    padding: .625rem 1.25rem;
    background: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: .3125rem;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1.25rem;
}

.btn:hover {
    background: #FF8C00;
}



/* HERO------------------------------------------------------ */
.hero {
    background: url('../images/hero.png') center/cover no-repeat;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 4rem;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 4rem;
    font-family: 'Nanum Pen Script', cursive;
}

.hero p {
    font-size: 1.2rem;
    margin: 1rem 0;
}



/* MEET THE CATS--------------------------------------------- */
#cats {
    text-align: center;
  }
  
.cat-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
}

.cat-item {
    border: 1px solid #ccc;
    padding: .625rem;
    box-shadow: .125rem .125rem .3125rem rgba(0, 0, 0, 0.2);
}

.cat-item img {
    max-width: 100%;
}

.cat-info {
    padding: .625rem;
}

.cat-info h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

/* Volunteer-------------------------------------------------- */
#volunteer {
    background: url('../images/cat.png') center/cover no-repeat;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 4rem 0; /* Remove left and right padding, set top and bottom padding */
    background-attachment: fixed;
  }


/* Donation-------------------------------------------------- */
#donations {
    background-color: rgb(235, 157, 102);
    position: relative;
    color: #000000;
    text-align: center;
    padding: 4rem 0;
  }


/* Contact---------------------------------------------------- */
#contact {
    text-align: center;
  }
  
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
}

.map {
    margin-top: 20px;
}
  




/* FOOTER----------------------------------------------------- */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}




/* Media Queries-------------------------------------------- */
@media (max-width: 768px) {
    /* Styles for smaller screens */
    header {
        flex-direction: column; /* Allow logo and menu to stack on top of each other */
        align-items: center;
    }
    .logo {
        order: 2; /* Reorder the logo to be on the right on smaller screens */
        text-align: center;
        margin-bottom: 1.25rem;
    }
    nav ul {
        order: 1; /* Reorder the navigation links to be on the left on smaller screens */
    }



    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: 1rem;
    }



    .cat-gallery {
        flex-direction: column;
    }

    .cat-item {
        width: fit-content;
    }
}



@media (max-width: 480px) {
    /* Styles for even smaller screens */
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: .625rem 0;
    }




    .hero h1 {
        font-size: 1.2rem;
    }
    .hero p {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.8rem;
    }



    
}




@media (max-width: 320px) {
    /* Styles for very small screens */
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: .625rem 0;
    }



    .hero, section h1 {
        font-size: 1rem;
    }
    .hero, section p {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.7rem;
    }



    .cat-info h2 {
        font-size: 1rem;
    }
    .cat-info .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

