@media (max-width: 768px) {
    /* Styles for smaller screens */
    header {
        flex-direction: column; /* Allow logo and menu to stack on top of each other */
        align-items: center;
    }
    .logo {
        order: 2; /* Reorder the logo to be on the right on smaller screens */
        text-align: center;
        margin-bottom: 1.25rem;
    }
    nav ul {
        order: 1; /* Reorder the navigation links to be on the left on smaller screens */
    }



    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: 1rem;
    }



    .cat-gallery {
        flex-direction: column;
    }

    .cat-item {
        width: fit-content;
    }
}



@media (max-width: 480px) {
    /* Styles for even smaller screens */
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: .625rem 0;
    }




    .hero h1 {
        font-size: 1.2rem;
    }
    .hero p {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.8rem;
    }



    
}




@media (max-width: 320px) {
    /* Styles for very small screens */
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: .625rem 0;
    }



    .hero, section h1 {
        font-size: 1rem;
    }
    .hero, section p {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.7rem;
    }



    .cat-info h2 {
        font-size: 1rem;
    }
    .cat-info .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}